<h1>Example App: Home</h1>
<p>{{data}}</p>

<form method='post' action='/resultPage'>
     <p> Please Enter the started location </p>
     <input name="start_location" value="stackoverflow0"/><br>
      <p> Please Enter the ended location </p>
     <input name="end_location" value="stackoverflow1"/> <br>
     <button type='submit'>Click</button>
</form>
