<div class = "section">

{{#if data }}
    <h1>User Name is Taken, Please Choose Another Name</h1>
    {{else}}
    <h1>Register Successfully</h1>
{{/if}}
<a href = "http://localhost:8000/">Click To Continue</a>
</div>

<style>
.section{
   height: 793px;
  background-image: url("images/trans_tp.png");
}
</style>
